<app-quote-ticker></app-quote-ticker>

<div class="typewriter">
    <h1 class='hello-there'>Hello there</h1>
</div>

<app-page-summary [title]='"Home"'
    [description]='"Welcome to my online portfolio. Here you can view projects that I have worked on, read my blog posts, view my recent transaction activity, download my resume and more."'>
</app-page-summary>



<h3>
    Recent Commits:
</h3>
Recent commits to the GitHub repo that contains source code for this website project.
<!-- <div *ngIf="commits$"> -->
<div>
    <div *ngFor="let commitWrapper of commitWrappers" class="row">
        <div class="col-2">
            {{commitWrapper.date | date:'MM/dd/yyyy'}}
        </div>
        <div class="col-8">
            {{commitWrapper.message}}
        </div>
    </div>
</div>