<!DOCTYPE html>
<html lang="en">


<head>
	<title>Dillon Stock</title>
	<meta charset="utf-8" />
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static '\css\bootstrap\css\bootstrap.css' %}" />
	<script type="text/javascript" src="{% static '\scripts\jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.5/dist/umd/popper.js"></script>
	<script type="text/javascript" src="{% static '\css\bootstrap\js\bootstrap.js' %}" ></script>
	<link rel="stylesheet" href="{% static 'css/header.css' %}" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<!-- {% comment %} <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/> {% endcomment %} -->
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
	<!-- <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}"> -->
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}"> -->
	<!-- <link rel="manifest" href="{% static 'img/site.webmanifest' %}">	 -->
	<link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
	<link rel="stylesheet" href="{% static 'material-design/material-components-web.min.css' %}" />
	<script type="text/javascript" src="{% static 'material-design/material-components-web.min.js' %}" ></script>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  
</head>

{% block content %}
{% endblock %}

<!-- <footer class="page-footer font-small footer-theme stickyfooter text-center color-white">
		<a class="btn btn-info btn-sm " href="/personal/contact/" target="_blank" id="linkedin"><i class="fas fa-address-book" aria-hidden="true"></i> Contact</a>
		<a class="btn btn-info btn-sm " href="/personal/downloads/"  target="_blank" id="downloads"><i class="fa fa-download" aria-hidden="true"></i> Downloads</a>				
		<a class="btn btn-info btn-sm " href="https://www.cse.msu.edu/~cse498/2018-01/projects/amazon/" target="_blank" ><i class="fas fa-university" aria-hidden="true"></i> MSU Capstone</a>				
</footer> -->

</html>