<!DOCTYPE html>
<html lang="en">


<head>
	<title>Proactive Chiropractic</title>
	<meta charset="utf-8" />
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static '\css\bootstrap\css\bootstrap.css' %}" />
	<script type="text/javascript" src="{% static '\scripts\jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.5/dist/umd/popper.js"></script>
	<script type="text/javascript" src="{% static '\css\bootstrap\js\bootstrap.js' %}" ></script>
	<link rel="stylesheet" href="{% static 'css/header.css' %}" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	{% comment %} <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/> {% endcomment %}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/site.webmanifest' %}">	
	<link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
	<link rel="stylesheet" href="{% static 'material-design/material-components-web.min.css' %}" />
	<script type="text/javascript" src="{% static 'material-design/material-components-web.min.js' %}" ></script>
</head>


<!-- <header>
		<div class="dropdown">
				<button class="dropbtn">Site Content</button>
				
				<div class="dropdown-content">
							<ul class="nav nav-pills nav-stacked">
							<a href='/'>Home</a>
							<a href='/personal/'>Personal</a>
							<a href='/personal/contact/'>Contact</a>
							<a href='/object_detection/'>Object Detection</a>
							<a href="/photo_gallery/">Photo Gallery</a>
							</ul>					
				</div>				
		</div>
</header> -->

<body>
	<header id="myHeader" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar header-theme stickyheader">
		<div class="container color-white" style="margin-left:none !important;">

			<div class="dropdown">
				<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-bars" aria-hidden="true"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href='/'>Home</a>
					<a class="dropdown-item" href='/personal/'>Personal</a>
					<a class="dropdown-item" href='/personal/contact/'>Contact</a>
					<a class="dropdown-item" href='/object_detection/'>Object Detection</a>
					<a class="dropdown-item" href="/photo_gallery/">Photo Gallery</a>				  
				</div>
			</div>
			
			<div class="container">
				<a href="https://www.linkedin.com/in/william-joe-wallace-a7691878/" target="_blank" class="btn btn-lg linked-in"><i class="fab fa-linkedin" aria-hidden="true"></i></a> 		
				<a href="#" class="btn btn-lg instagram" target="_blank" ><i class="fab fa-instagram" aria-hidden="true"></i> </a>
				<a href="#" class="btn btn-lg twitter" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
				<a href="https://www.facebook.com/joe.wallace.33046" class="btn btn-lg facebook" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i> </a>
			</div>
		</div>

	</header>

	<div class="spacer"></div>


	<script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/main.js' %}"></script>	

	<app-root>		
	</app-root>
	
	<script>
		// When the user scrolls the page, execute stickyHeader 
		window.onscroll = function() {stickyHeader()};
		
		// Get the header
		var header = document.getElementById("myHeader");
		
		// Get the offset position of the navbar
		var sticky = header.offsetTop;
		
		// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
		function stickyHeader() {
			if (window.pageYOffset > sticky) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
	</script>


<div class="container wrapper white">
{% block content %}
{% endblock %}
</div>

<footer class="page-footer font-small footer-theme stickyfooter text-center color-white">
	<!-- <div class="container-fluid nav text-center bottom"> -->
		<a class="btn btn-info btn-sm " href="/personal/contact/" target="_blank" id="linkedin"><i class="fas fa-address-book" aria-hidden="true"></i> Contact</a>
		<a class="btn btn-info btn-sm " href="/personal/downloads/"  target="_blank" id="downloads"><i class="fa fa-download" aria-hidden="true"></i> Downloads</a>				
		<a class="btn btn-info btn-sm " href="https://www.cse.msu.edu/~cse498/2018-01/projects/amazon/" target="_blank" ><i class="fas fa-university" aria-hidden="true"></i> MSU Capstone</a>				
	<!-- </div> -->
</footer>

</body>
</html>