{% extends "mysite/header.html" %}


{% block content %}
{% load staticfiles %}

<head>
    {% comment %} <link rel="stylesheet" href="{% static 'css/header.css' %}" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <script type="text/javascript" src="{% static 'material-design/material-components-web.min.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'material-design/material-components-web.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ang/styles.css' %}"/>
</head>

<body>
	<app-root>
		<i class="fa fa-lg fa-spinner fa-spin" style="position:fixed; top:50%; left:50%; transform: translate(-50%, -50%);"></i>
	</app-root>

	<script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/main.js' %}"></script>	
	<!-- <script type="text/javascript" src="{% static 'ang/styles.js' %}"></script>	 -->

</body>



{% endblock %}
