
.joe-blog-post-header-image {
  background-image: url('https://media.licdn.com/dms/image/C4E03AQHpjjJtFgSQxQ/profile-displayphoto-shrink_800_800/0?e=1564617600&v=beta&t=cQktx0JS6fdlb4TEuWNtKziODwsWICnoZmBYUtQ2060');
  background-size: cover;
}

.mat-button {
  outline: none;
  /* background-color: #00BAFF; */
}

mat-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-card {
  /* background-color: #999999 */
}

.fa-thumbs-down, .fa-thumbs-up {
  /* background-color: inherit; */
  color: #006AFF;
}
