
.blog-post-header-image {
  background-image: url('../../../../../../static/img/self.jpg');
  background-size: cover;
}

.mat-button {
  outline: none;
  /* background-color: #00BAFF; */
}

mat-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-card {
  /* background-color: #999999 */
}

.fa-thumbs-down, .fa-thumbs-up {
  /* background-color: inherit; */
  color: #006AFF;
}

.comment-full-width {
  width: 100%;
}
