.quote-card {
  /* max-width: 400px; */
  width: 100%;
}

table {
  width: 100%;
}

mat-card {
  max-width: 100%;
  overflow-x: hidden;
}

mat-card-content {
  height: 50px;
}

.quote-ticker-button {
  opacity: 0.7;
}

.quote-ticker-button:hover {
  opacity: 1;
}

.transition {
  transition: visibility 500ms ease-in-out;
}