<mat-card class="quote-card">
  <!-- <mat-card-header>
    <mat-card-title>Quotes</mat-card-title>
  </mat-card-header> -->
  <mat-card-content [@slideInRight]="slideInRight" *ngFor="let q of [quotes[this.currentQuoteIndex]]">
    <div id="quoteText">
      {{this.quotes[this.currentQuoteIndex]}}
    </div>
  </mat-card-content>
  <!-- <div class="row justify-content-center">
    <button (click)="toggleQuoteActions()" mat-icon-button>
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <mat-card-actions [@openClose]="showQuoteActions ? 'open' : 'closed'">
    <button mat-raised-button (click)='previousQuote()' class="quote-ticker-button">
      <i class="material-icons">
        skip_previous
      </i>
    </button>
    <button mat-raised-button class="quote-ticker-button">
      <i *ngIf="!paused" class="material-icons" (click)="paused = true">
        pause
      </i>
      <i *ngIf="paused" class="material-icons" (click)="paused = false">
        play_arrow
      </i>
    </button>
    <button mat-raised-button class="quote-ticker-button" (click)='nextQuote()'>
      <i class="material-icons">
        skip_next
      </i>
    </button>
  </mat-card-actions> -->
</mat-card>