<!-- <app-quote *ngFor="let quote of quotes" [quote]='quote'></app-quote> -->


<mat-card class="quote-card">
  <mat-card-header>
    <!-- <mat-card-title>Legendary Quotes</mat-card-title> -->
    <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <mat-card-content [@fadeInDown]="fadeInDown" *ngFor="let q of [quotes[this.currentQuoteIndex]]"> -->
  <mat-card-content [@slideInRight]="slideInRight" *ngFor="let q of [quotes[this.currentQuoteIndex]]">
    <!-- <div *ngIf="!this.hidden"> -->
    <div id="quoteText">
      {{this.quotes[this.currentQuoteIndex]}}
    </div>
  </mat-card-content>
  <!-- <img mat-card-image src="../../../../../../static/img/self.jpg"> -->
  <mat-card-actions>
    <!-- <button
      mat-button
      (click)="openSnackBar()"
      aria-label="Show an example snack-bar"
      class="btn btn-primary">
      Quote
  </button> -->
  <button mat-raised-button color="primary" (click)="paused = !paused; openSnackBar()">Pause</button>
  </mat-card-actions>
</mat-card>

