<app-page-summary [title]='"Activity"' [description]='pageDescription'></app-page-summary>

<h6>Recent cryto-currency transactions</h6>

<div *ngIf="transactions$ | async" class="example-ripple-container" matRipple [matRippleUnbounded]="false"
  [matRippleColor]="'purple'" [matRippleRadius]="40">
  <!-- <div *ngFor="let t of transactions.data">
      <div>
        {{t | json}}
      </div>
    </div> -->

  <table mat-table [dataSource]="transactionHistory" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Volume </th>
      <td mat-cell *matCellDef="let element"> {{element.amount.amount | number:'1.0-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.amount.currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<app-chart *ngIf="data" [chartData]='data'></app-chart>

<p id="demo">Hello </p>

<button mat-raised-button (click)="openDialog()">Search for a coin's price</button>
<ol>
  <li *ngFor="let price of searchedPrices">
    {{price.coinName}}: <i>{{price.price}}</i>
  </li>
</ol>